<!DOCTYPE html>
<html>
<head>
  <title>GIFJOY</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
      <ul class="nav-list">
        <%= link_to root_path do%>
        <li class="nav-list-item">Home</li> 
        <% end %>
        <li class="nav-list-item">My Page</li>
        <%= link_to destroy_user_session_path, method: :delete do%>
        <li class="nav-list-item">Logout</li> 
        <% end %>
      </ul>
  </nav>
  <%= yield %>
</body>
</html>
